<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladería Helarte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="header">{% include 'components/header.html' %}</div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div id="footer">{% include 'components/footer.html' %}</div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
